# Java
*.class
*.jar
*.war
*.ear
*.nar
*.car
hs_err_pid*
replay_pid*

# Maven
/target/

# Gradle
/.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Logs
*.log
logs/
